/* .button {
    background: var(--purple);
    color: var(--white);
    font: var(--button);
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 13px;
    padding-block-end: 13px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    text-align: center;
} */

/* .button.is-secondary {
    background: unset;
    color: var(--purple);
    border: 2px solid var(--purple);
} */

.button:hover {
    filter: brightness(100%)
}

.button {
    border-radius: 16px;
    background-color: black;
    cursor: pointer;
    padding: 16px 32px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border: 5px;
    text-decoration: none;
    text-align: center;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    
    50% {
        background-position: 400%;
    }
    
    100% {
        background-position: 0 0;
    }
}